


.table-name{
    margin-left: 300px;
    padding: 50px;
}

.users-table{
    width: 700px;
    height: 600px;
    margin-left: 300px; 
    background-color: #f5f5f5;
     
    
    .users-table-head{
        background-color: #e6e8e6;
        height: 70px;
       
    }

    .users-table-body{
        font-size: large;
        padding: 10px;
        border-radius: 10px;
        margin: 30px;
        text-align: center; 
    }
}

.add-user-btn{
    height: 60px;
    width: 120px;
}


// $space: 30px;

// $name-height: 93px;
// $workers-height: 180px;
// $products-height: 50px;
// $actions-height: 100px;

// :host {
//   display: grid;
//   width: 100%;
//   grid-template-rows: 50px 50px auto 20px 1fr;
//   grid-template-areas: "addButton"
//     "addInput"
//     "header"
//     "."
//     "body";
    
//     .users-add-btn{
//       grid-area: addButton;
//       width: 130px;
//       height: 50px;

//       .add-btn{
//         height: 100%
//       }

//       .users-add-new{
//         grid-area: addInput;
//         width: 130px;
//       }
//     }

//     .users-table__header {
//       grid-area: header;
  
//       display: grid;
//       grid-template-columns: $space 29px 60px $name-height 60px 100px 60px $products-height 60px $actions-height $space;
//       grid-template-areas: ". id . name . workers . products . . .";

//       padding: 10px;
  
//       .users-table__header__id {
//         font:400;
//         grid-area: id;
//         margin-left: 5px;
//       }
  
//       .users-table__header__name {
//         font:400;
//         grid-area: name;
//         margin-left: 8px;
//       }
  
//       .users-table__header__workers {
//         font:400;
//         grid-area: workers;
//         margin-left: 8px;
//       }
  
//       .users-table__header__products {
//         font:400;
//         grid-area: products;
//         text-align: end;
//       }
//     }

//     .users-table__body {
//       grid-area: body;
  
//       display: flex;
//       flex-direction: column;
//       align-items: stretch;
//       height: 78vh;
//       padding: 0px;
//       gap: 10px;
  
//       overflow-y: scroll;
      
//       .users-table__item {
//         width: 800px;
//         display: grid;
//         align-items: center;
//         grid-template-columns: $space 29px 60px $name-height 60px 100px 60px $products-height 60px $actions-height $space;
//         grid-template-areas: ". id . name . workers . products . actions .";
  
//         background: var(--background-secondary);
//         min-height: 70px;
//         border-radius: 10px;
//         box-shadow: 0px 0px 14px rgba(3, 2, 41, 0.07);
  
//         .users-table__name {
//           grid-area: name;
  
//           display: flex;
//           flex-direction: row;
//           align-items: center;
//           justify-content: flex-start;
//           gap: 10px;
  
//           .users-table__name__text {
//             font:400
//           }
//         }
  
//         .users-table__workers {
//           grid-area: workers;
  
//           display: flex;
//           flex-direction: row;
//           align-items: center;
//           gap: 10px;
  
//           .users-table__workers__count {
//             display: flex;
//             flex-direction: row;
//             align-items: flex-start;
//             gap: 10px;
//           }
//         }
  
//         .users-table__products {
//           grid-area: products;
  
//           display: flex;
//           flex-direction: row;
//           justify-content: flex-end;
//           align-items: baseline;
//           gap: 3px;
  
//           .users-table__price__count {
//             font:400
//           }
//         }
  
//         .users-table__actions {
//           grid-area: actions;
  
//           display: flex;
//           flex-direction: row;
//           justify-content: flex-end;
//           align-items: center;
//           gap: 10px;
  
//           .users-table__actions_edit {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             width: 60px;
//             height: 40px;
//             transition: outline 0.09s linear;
  
//             .users-table__actions_edit-icon {
//               color: var(--color-yelow);
//             }
  
//             &:hover {
//               outline: 2.5px solid #dedde0;
//             }
//           }
  
//           .users-table__actions_remove {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             border-radius: 50%;
//             width: 60px;
//             height: 40px;
//             transition: outline 0.09s linear;
  
//             .users-table__actions_remove-icon {
//               color: var(--color-red);
//             }
  
//             &:hover {
//               outline: 2.5px solid #dedde0;
//             }
//           }
//         }
//       }
//     }
// }